[submodule "String"]
	path = String
	url = https://github.com/lionkor/String
[submodule "SFML"]
	path = SFML
	url = https://github.com/lionkor/SFML
[submodule "glew"]
	path = glew
	url = https://github.com/lionkor/glew
[submodule "glfw"]
	path = glfw
	url = https://github.com/lionkor/glfw
[submodule "tests/acutest"]
	path = tests/acutest
	url = https://github.com/mity/acutest
[submodule "gli"]
	path = gli
	url = https://github.com/lionkor/gli
